<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Pagination</title>
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../styles.css">
</head>

<body>
    <div id="app" class="container">
        <h4>Default</h4>

        <div is="uib-pagination" :total-items="totalItems" v-model="pagination1" @change="pageChanged()"></div>

        <div is="uib-pagination" :boundary-links="true" :total-items="totalItems" v-model="pagination1" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></div>

        <div is="uib-pagination" :direction-links="false" :boundary-links="true" :total-items="totalItems" v-model="pagination1"></div>

        <div is="uib-pagination" :direction-links="false" :total-items="totalItems" v-model="pagination1"></div>

        <h6><code>page-label</code> returning <code>raw html</code>:</h6>
        <div is="uib-pagination"  :direction-links="false" :total-items="totalItems" v-model="pagination1" :page-label="pageLabelHtml"></div>

        <pre>The selected page no: {{pagination1.currentPage}}</pre>

        <button type="button" class="btn btn-info" @click="setPage(3)">Set current page to: 3</button>

        <hr>

        <h4>Limit the maximum visible buttons</h4>

        <h6><code>rotate</code> defaulted to <code>true</code>:</h6>
        <uib-pagination :total-items="bigTotalItems" v-model="pagination2" :max-size="maxSize" class="pagination-sm" :boundary-links="true"></uib-pagination>

        <h6><code>rotate</code> defaulted to <code>true</code> and <code>force-ellipses</code> set to <code>true</code>:</h6>
        <uib-pagination :total-items="bigTotalItems" v-model="pagination2" :max-size="maxSize" class="pagination-sm" :boundary-links="true" :force-ellipses="true"></uib-pagination>

        <h6><code>rotate</code> set to <code>false</code>:</h6>
        <uib-pagination :total-items="bigTotalItems" v-model="pagination2" :max-size="maxSize" class="pagination-sm" :boundary-links="true" :rotate="false"></uib-pagination>

        <h6><code>boundary-link-numbers</code> set to <code>true</code> and <code>rotate</code> defaulted to <code>true</code>:</h6>
        <uib-pagination :total-items="bigTotalItems" v-model="pagination2" :max-size="maxSize" class="pagination-sm" :boundary-link-numbers="true"></uib-pagination>

        <h6><code>boundary-link-numbers</code> set to <code>true</code> and <code>rotate</code> set to <code>false</code>:</h6>
        <uib-pagination :total-items="bigTotalItems" v-model="pagination2" :max-size="maxSize" class="pagination-sm" :boundary-link-numbers="true" :rotate="false"></uib-pagination>

        <pre>Page: {{pagination2.currentPage}} / {{pagination2.numPages}}</pre>

    </div>

    <script src="dist/main.js"></script>
</body>

</html>